body {
    background-color: #202124;
    color: white;
    min-height: 100vh;
}

#app {
    background-color: #FBBC04;
}

.clickable {
    cursor: pointer;
    transition: all .2s ease-in-out; 
}

.clickable:hover {
    transform: scale(1.2);
}