<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To Do List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center min-vh-100">
            <div class="col-6">
                <div id="app" class="rounded p-3">
                    <h1 class="border-bottom pb-3 fw-bold text-center">To Do</h1>
                    <ul class="list-unstyled">
                        <li v-for="(toDo, i) in toDoList" class="row">
                            <span class="col" :class="toDo.done === true ? `text-decoration-line-through text-secondary` : `` ">
                                {{toDo.text}}
                            </span>
                            <i class="fa-solid fa-square-xmark col-1 clickable" @click="removeToDo(i)"></i>
                        </li>
                    </ul>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Aggiungi una voce all'elenco" v-model="toDoToAdd">
                        <button class="btn btn-outline-light" type="button" @click="addToDo">Aggiungi</button>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>